@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: #252525;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Pretendard-Regular', sans-serif;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.slick-dots li {
  text-decoration: none;
  margin: 5px;
  padding: 0;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: white;
  border: 0;
  outline: none;
  background: transparent;
}
