@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: #252525;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 24px;
}

.ql-editor {
  border-radius: 0px 0px 15px 15px;
  height: 400px !important;
}

.ql-toolbar {
  border-radius: 15px 15psx 0px 0px;
}

.ql-container.ql-snow {
  border: 2px solid #ffbb5c !important;
}

.ql-toolbar.ql-snow {
  border: 2px solid #ffbb5c !important;
}

.ql-fill {
  color: #fff !important;
}
